{% extends "layout.html" %}

{% block title %}
    Smrekovina
{% endblock title %}


{% block content %}
    <div class="container" id="blok2">
        <h1>Analytics on demand.</h1>
        <h4>
          Stop installing bloated scripts that all track the exact same things. Install one that does everything.
        </h4>
        <button type="button" class="btn btn-dark">Dark</button>

       </div>
     </div>


        <section id="section-a">
        <div class="container" id="blok3">
          <div class="row">
            <div class="col d-none d-md-block  ">
            <img src="https://www.91-img.com/pictures/121716-v2-honor-7x-mobile-phone-large-1.jpg">
            </div>
            <div class="col align-self-center">
      <h5 class="font-weight-light">RICH INFORMATION</h5>
      <h1 class="font-bold">Make infored decisions with historical & real time data.</h1>
      <p class="lead">We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.</p>

    <div class="d-none d-md-block">
    <div class="row">
    <div class="col-md-6">
    <h4 class="font-bold">Data frequency</h4>
    <p>We poll for data on a millisecond basis. You can react to new information in seconds rather than days.<a href="#">Learn more.</a></p>
    </div>
    <div class="col-md-6">
    <h4 class="font-bold">Reliability & uptime</h4>
    <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always.<a href="#">Learn more.</a></p>
    </div>
    </div>
    </div>
          </div>
        </div>
      </div>
    </div>
     </section>

    <section id="section-b">
    <div class="container-fluid bg-dark text-white">
    <div class="container">
    <div class="row">
    <div class="col-12 col-md-6">
    <h6 class="font-weight-light">EASY DEVELOPMENT</h6>
    <h1 class="font-bold">Natural language queries make mining data easy for anyone.
    </h1>
    <p class="lead">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
    <button type="button" class="btn btn">Read our docs</button>
    </div>

  <div class="block block-inverse block-secondary app-code-block">
      <div class="p-5 col-md-12 col-sm-6">
        <pre class=" p-5 app-code border border-white ">
<span>1</span> <span class="hidden-xs">goAnalytics</span> “who are the latest 3 users?”
<span>2</span>
<span>3</span>  {
<span>4</span>    "Dave": {
<span>5</span>      "fullName": "Dave Gamache",
<span>6</span>      "twitterHandle": "@dhg",
<span>7</span>    }
<span>8</span>    "Mark": {
<span>9</span>      "fullName": "Mark Otto",
<span>10</span>      "twitterHandle": "@mdo",
<span>11</span>    }
<span>12</span>    "Jacob": {
<span>13</span>      "fullName": "Jacob Thornton",
<span>14</span>      "twitterHandle": "@fat",
<span>15</span>    }
<span>16</span>  }</pre>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
   </section>

<section id="section-c">
  <div class="container">
    <div class="row justify-content-end">
       <div class=" p-5 col-4 align-self-center">
        <h6>High Praise</h6>
        <h3>“Go Analytics is amazing. Decisions that used to take weeks, now only takes minutes and is available to everyone on my team.”</h3>
        <p>Cindy Smith, founder of Cool Startup</p>
        </div>
        </div>
        </div>
</section>


  <section id="section-d">
  <div class="destaque">
  <div class="block text-center" >
   <img src="startup-4.svg">
      <img src="startup-5.svg" >
         <img src="startup-6.svg">
            <img src="startup-7.svg">
               <img src="startup-8.svg">
  </div>
  </div>
</section>

  <section id="section-e">
  <div class="p-5 container">
  <div class="row justify-content-md-center">
  <h5 class="font-weight-light">INSIDE THE MACHINE</h5>
  </div>
  <div class="row justify-content-md-center"">
  <h3 class="pb-4 font-bold">It’s not hard to see how we make your life easier every day.</h3>
  </div>
  <div class="pb-5 row text-center">
    <div class="col-md-4 ">
      <img src="startup-9.svg" alt="24/7">
      <h6><strong>24/7 support.</strong>We’re always here for you no matter what time of day.</h6>
    </div>
      <div class="col-md-4">
        <img src="startup-10.svg" alt="e-commerce">
      <h6><strong>E-commerce.</strong>We automatically handle all sales analytics.</h6>
      </div>
       <div class="col-md-4">
        <img src="startup-11.svg" alt="turnaround">
      <h6><strong>Turnaround.</strong>Our data analysis is distributed, so it processes in seconds.</h6>
      </div>
    </div>
     <div class="row text-center">
     <div class="col-md-4">
      <img src="startup-12.svg" alt="rich-calculations">
      <h6><strong>Rich calculations.</strong>Limitless ways to splice and dice your data.</h6>
    </div>
      <div class="col-md-4">
        <img src="startup-13.svg" alt="mobile-apps">
      <h6><strong>Mobile apps. </strong>iOS and Android apps available for monitoring.</h6>
      </div>
       <div class="col-md-4">
        <img src="startup-14.svg" alt="secure connections">
      <h6><strong>Secure connections.</strong>Every single request is routed through HTTPS.</h6>
      </div>
       </div>
     </div>
  </div>
  </section>


  <section id="section-f">
  <div class="container-fluid  bg-light">
  <div class=" pt-5 row justify-content-md-center">
  <h5 class="font-weight-light">BUSINESS TALK</h5>
  </div>
  <div class="row justify-content-md-center"">
  <h3 class="font-bold">No plans. We just bump your plan whenever you need it.</h3>
  </div>
  <div class="p-5 containter">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
      <h6 class="pb-4 font-weight-light">PERSONAL</h6>
      <img src="startup-15.svg" >

      <p class="p-4">Plenty of processing power for any personal projects, big or small.</p>
      </div>
      <hr>
      <p><b>10k</b> monthly requests</p>
      <hr>
      <p><b>9am-5pm</b> tehnical supprt</p>
      <hr>
      <p><strong>Public</strong> API access</p>
       <hr>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Start <span class="visible-lg-inline">a personal account</button>
    </div>
     <div class="col-md-4">
      <div class="text-center">
      <h6 class="pb-4 font-weight-light text-center">BUSINESS</h6>
      <img src="startup-16.svg" >
      <p class="p-4">The perfect sized plan for small businesses to get started.</p>
      </div>
      <hr>
      <p><strong>100k</strong> monthly requests</p>
      <hr>
      <p><strong>24/7</strong> tehnical supprt</p>
      <hr>
      <p><strong>Public</strong> API access</p>
       <hr>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Start <span class="visible-lg-inline">a business account</span></button>
    </div>
    <div class="col-md-4">
      <div class="text-center">
      <h6 class="pb-4 font-weight-light text-center">CORPORATE</h6>
      <img src="startup-17.svg" >
      <p class="p-4">An unlimited plan that will scale infinitely to any size project.</p>
      </div>
      <hr>
      <p><strong>Unlimited</strong> monthly requests</p>
      <hr>
      <p><strong>24/7</strong> tehnical supprt</p>
      <hr>
      <p><strong>Public & Private</strong> API access</p>
       <hr>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Start <span class="visible-lg-inline">a corporate account</button>
    </div>
   </div>
 </div>
</div>
</section>
{% endblock content %}